parameters:
    level: 6
    paths:
        - .
    scanFiles:
        - servidor/autoload.php
        - phpstan.php
    excludePaths:
        - plantillas/
        - tests/
        - src/
    ignoreErrors:
        - identifier: missingType.iterableValue
